* {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}
header {
    height: auto;
    background-color: #0c2f4b;
    min-width: 1000px;
}
@media (max-width: 1000px) {
    .headerLargeScreen { display: none; }
    
}
body {
    background-color: #edeef0;
}
.headerLargeScreen {
    height: 200px;
}

.center {
    margin: auto;
    width: 94%;
    height: auto;
}
.siteLogo {
    float: left;
    margin-top: 20px;
}
.siteTitle {
    float: left;
    color: aliceblue;
    font-size: 3.0em;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-weight: 200;
    margin-top: 70px;
    margin-left: 15px;
    
}
.userContainer {
    height: 157px;        
    min-width: 200px;
    float: right;
    margin-top: 20px;
}
.userName {
    float: left;
    color: aliceblue;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 1.5em;
    margin-top: 64px;
    font-weight: 200;
}
.userImageContainer {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    float: left;
    background-color: aliceblue;
    margin-top: 49px;
    margin-left: 10px;
    overflow: hidden;
}
.userImage {
    width: 100%;
}
.userMenuImage {
    width: 70%;
}

.userMenuButton {
    margin-top: 68px;
	background-color:transparent;
	border: none;
	cursor:pointer;
}

.main-item:focus ~ .menu,
.main-item:active ~ .menu,
.menu:hover {
    display: block;
}
.userMenuButton:active {
	top: 1px;
}
.menu {
    display: none;
    right: 3%;
    border-radius: 5px;
    background-color: aliceblue;
    position: absolute;
    margin-top: 0px;
    margin-left: 50px;
    width: 150px;
    padding: 0px;
    margin-top: 15px;
    list-style: none;
    box-shadow: 0 0 2px 1px dimgray;
    z-index: 10;
    
}
.menuItem a {
    font-size: 1.3em;
    display: block;
    padding: 10px;
    margin: 10px;
    color: #0c2f4b;
    transition: 0.5s all;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-weight: 500;
}

.menuItem a:hover {
    background-color: #0c1f4b;
    color: aliceblue;
}
.menuItem a:active {
    color: #0c2f4b;
    background-color: aliceblue;
}

.mainMenu {
    margin-left: 3%;
    list-style: none; 
}
#mainMenu {
    width: 100%;
    background-color: #0c2a4b;
    min-width: 1000px;
}

.menuLine {
    height: 7px;
    width: 190px;
    background-color: aliceblue;
    z-index: 8;
    transition: 0.3s all;
}
#line {
    margin-top: 0px;
    height: 7px;
    background-color: #0c2a4b;
    width: 100%;
}
.addButton {
    height: 60px;
    width: 60px;
    border: 1px solid darkred;
    background-color: crimson;
    border-radius: 30px;
    text-align: center;
    align-content: center;
    position: absolute;
    right: 65px;
    top: 232px;
    transition: 0.6s all;
    box-shadow: 1px 1px 3px;
    z-index: 9;
}

.addButton .button {
    display: block;
    border-radius: 30px;
    font-size: 3.4em;
    color: aliceblue;
    font-weight: 400;
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

.addButton:hover {
    background-color: darkred;
}
.addButton:active {
    background-color: aliceblue;
    box-shadow: 2px 2px 4px;
}
.addButton .button:active {
    color: crimson;
}




.tabbed {
    height: 67px;
    width: 94%;
    margin: auto;
}

.tabbed > input {
    display: none;
}

.tabbed label {
    display: inline-block;
    width: 190px;
    text-align: center;
    padding-top: 17px;
    color: aliceblue;
    font-size: 1.3em;
    height: 43px;
    font-weight: 500;
    transition: 0.5s all;
}

.tabbed label:hover {
    background-color: #0c1f4b;
}

.tabbed label:active {
    color: #0c2f4b;
    background-color: aliceblue;
}

.tabs {
}

.tabs > div {

    position: absolute;
    opacity: 0;
    font-size: 6em;
    transition: 0.4s all;
}

#tab-nav-1:checked ~ .tabs > div:nth-of-type(1),
#tab-nav-2:checked ~ .tabs > div:nth-of-type(2),
#tab-nav-3:checked ~ .tabs > div:nth-of-type(3) {
    opacity: 1;
}

#tab-nav-2:checked ~ #line > div:nth-of-type(1)
{
    margin-left: 194px;
}

#tab-nav-3:checked ~ #line > div:nth-of-type(1)
{
    margin-left: 388px;
}

.about {
    width: 94%;
}
.content-Center {
    margin: auto;
    margin-top: 30px;
    height: 450px;
    width: 60%;
    box-shadow: 0 0 5px 1px dimgray;
    border-radius: 3px;
    background-color: white;
    padding: 20px;
    text-align: center;
    font-size: 0.5em;
}




















